# <center>Financial derivative valuation project </center>
### **<center> Value of a call option using the black scholes formula  </center>**

### **<center>Mijail Dragowski</center>**
### **<center>2023</center>**

## Import the necessary libraries

In [1]:
import yfinance as yf

import pandas as pd
from scipy.stats import norm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## load the Stock  data

In [2]:
MCDonalds=yf.download("MCD", start= "2013-01-01", end= "2023-3-7")["Adj Close"]
MCDonalds=pd.DataFrame(MCDonalds)
MCDonalds = MCDonalds.rename(columns={'Adj Close': "MCD"})
MCDonalds.tail()

[*********************100%***********************]  1 of 1 completed

                   MCD
Date
2023-02-28  263.910004
2023-03-01  262.720001
2023-03-02  267.570007
2023-03-03  269.070007
2023-03-06  270.640015

## Black scholes formula
(for more details check the pdf with more theoretical information)

$$
\textbf{C} = SN(d_1) - Ke^{-rt}N(d_2) 
$$

Where: 

$$
d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
d_2 = d_1 - s \cdot \sqrt{t} = \frac{\ln(\frac{S}{K}) + (r - \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

## Formula programming

In [3]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))
 
def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def BS(S, K, r, stdev, T):
        return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

## McDonald's Daily Stock Return Calculation

In [4]:
Daily_returns = (MCDonalds.pct_change(1))
Daily_returns.head()

                 MCD
Date
2013-01-02       NaN
2013-01-03  0.005660
2013-01-04 -0.008607
2013-01-07  0.011797
2013-01-08  0.000330

## McDonald's daily return  standard deviation calculation

In [5]:
stdev = Daily_returns.std() * 252 ** 0.5
stdev

MCD    0.198446
dtype: float64

## Create a variable S equal to the last adjusted closing price of McDonald's.

In [6]:
S = MCDonalds.iloc[-1]
S

MCD    270.640015
Name: 2023-03-06 00:00:00, dtype: float64

## Set the risk free rate, r, equal to 5.19% (0.0519); the strike price, K, equal to 300; and the time horizon, T, equal to 1 (one year), respectively.

In [7]:
r = 0.0519
K = 300
T = 1

## Call the d1 and d2 functions with the relevant arguments to obtain their values.

In [8]:
d1(S, K, r, stdev, T)

MCD   -0.158241
dtype: float64

In [9]:
d2(S, K, r, stdev, T)

MCD   -0.356688
dtype: float64

## Use the BS function to estimate the price of a call option, given you know the values of S, K, r, stdev, and T.

In [10]:
BS(S, K, r, stdev, T)

MCD    15.579222
Name: 2023-03-06 00:00:00, dtype: float64